.modal{
  display: flex;
  justify-content: space-around;
}

.details{
  font-weight:600
}

.albumDetailsBox{
  display:flex;
  align-items:center;
  justify-content:space-between;
  color: white;
  font-size: 1.5vw;
}

@media only screen and (max-width: 820px) {
  .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .albumDetailsBox{
    display:block;
    font-size: 3vw;
  }
}